################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/core-tool-empty/obj
/core-tool-empty/bin
