@using core_tool_empty.Data;

@model Books;


@{
    ViewBag.Title = "Index";
}



<div>
    <img src="~/Images/Friends.jpg" alt="Froends" />
    <h1>This is Home - Index</h1>
    @{
        int a = 2 + 5;
    }
    @if (a == 5)
    {
        a++;
        <p> @a</p>
    }
    else
    {
        a--;
        <p> @a</p>
    }

</div>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
    <div>
        @Html.TextBoxFor(model => model.Name)
        <br />
        @Html.TextBoxFor(model => model.Author)
        <br />
        <input type="submit" value="submit"  />
    </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        alert("sdjhfjdsk")
    })
</script>